@page
@model Restauracja.Pages.Orders.PaymentSuccessModel
@{
    ViewData["Title"] = "Płatność zakończona sukcesem";
}

<h2>✅ Twoje zamówienie zostało opłacone!</h2>
<p>Dziękujemy za zamówienie. Twój dostawca wkrótce się skontaktuje.</p>

<a asp-page="/Orders/MyOrders" class="btn btn-primary">Przejdź do Moich Zamówień</a>