@page
@model LoginModel

<h1>Login</h1>

<form method="post">
    <div>
        <label asp-for="Input.Email">Email</label>
        <input asp-for="Input.Email" />
    </div>
    <div>
        <label asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>